<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="././favicon.ico">
    <title>Hubot Maker :: hubot list</title>
    <!-- Bootstrap core CSS -->
    <link href="<TMPL_VAR NAME="PATH_PREFIX">bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="<TMPL_VAR NAME="PATH_PREFIX">style.css" rel="stylesheet">
</head>
