body {
  padding-top: 70px;
}
.row{
  //padding: 40px 15px;
  text-align: center;
}
.login-form,.hubot-list{
  text-align: left;
  margin-top: 100px;
}
.panel{
  margin-top: 100px;
}

.new-hubot{
  text-align: right;
}
.delete{
  position:absolute;
  left: 15px;
}
.hidden {
  display: none;
}
.hubot-beginner .panel{
  padding: 30px;
}
a {
    outline: 0px;
}
