<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">LBSE HOME</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="" class="contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
                <div class="panel panel-default login-form">
                    <div class="panel-body">
                        <form>
                          <div class="err-msg hidden"><div class="alert alert-danger" role="alert"><p>登録に失敗しました</p></div></div>
                          <div class="form-group">
                              <label for="Username" class="control-label">Username</label>
                              <input type="text" class="form-control" id="Username" placeholder="Username" required>
                          </div>
                            <div class="form-group">
                                <label for="Password" class="control-label">Password</label>
                                <input type="password" class="form-control" id="Password" placeholder="Password" required>
                            </div>
                            <input type="button" class="btn btn-default UserRegistSubmit" value="Submit">
                        </form>
                    </div>
                    <!--/panel-body -->
                </div>
                <!--/panel -->
                <div class="panel panel-default RegisterCompleted hidden">
                    <div class="panel-body">
                      <h3>Congraz</h3>
                      <p>Your API Key is:</p>
                      <code class="api-key"></code>
                      <form action="../list" method="POST">
                      <input type="hidden" class="api-key">
                      <button class="btn btn-default go2cpanel">Go to Control Panel</button>
                      </form>
                    </div>
                    <!--/panel-body -->
                </div>
                <!--/panel -->

            </div>
        </div>
        <!-- /.container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
        <script src="../script.js"></script>
</body>

</html>
